<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>

<body>

    <section class="layout-content" layout:fragment="corpo">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Editar Senha</span>
	                        </li>
	                    </ul>
	                </div>
	              
	            </nav>
	        </div>
	
	        <div class="container" id="cadastro">
	        <!-- mensagem de sucesso ou falha -->
	      	 <div th:replace="fragments/alert"></div>
	      	     
	           
	             
	         <form th:action="@{/usuarios/confirmar/senha}"
								 method="POST" class="was-validated">
							
							<div class="mb-3">
								<label for="senha1">Nova senha</label> 
								<input type="password" class="form-control pass" id="senha1" name="senha1"
									placeholder="Insira sua senha de acesso" value="" required />
								<div class="invalid-feedback">Digite sua nova senha.</div>
							</div>							
															
							<div class="mb-3">
								<label for="senha2">Repita nova senha</label> 
								<input type="password" class="form-control pass" id="senha2" name="senha2" 
									placeholder="Insira sua senha de acesso" value="" required />
								<div class="invalid-feedback">Repita sua nova senha.</div>
							</div>	
							
							<div class="mb-3">
								<label for="senha3">Senha atual</label> 
								<input type="password" class="form-control" id="senha3" name="senha3"
									placeholder="Insira sua senha de acesso" value=""
									required readonly/>
								<div class="invalid-feedback">Digite sua senha atual para confirmar.</div>
							</div>							

							 <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
						</form>
	        </div>
	    </section>

	 
</body>
 
 <script th:inline="javascript" th:fragment="inlinescript"></script>
</html>		