<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>
				
			   <ul class="nav nav-pills" sec:authorize="hasAuthority('ADMIN')">
					<li class="nav-item"><span class="nav-link active" >Usuários</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuarios/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuarios/listar}"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>
				

				<ul class="nav nav-pills" sec:authorize="hasAnyAuthority('ADMIN', 'ATENDIMENTO')">
					<li class="nav-item"><span class="nav-link active" >Serviços</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/servicos/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/servicos/listar}"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills" sec:authorize="hasAnyAuthority('ADMIN', 'ATENDIMENTO')">
					<li class="nav-item"><span class="nav-link active" >Clientes</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/clientes/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/clientes/listar}"> <i
							class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>
				
					<ul class="nav nav-pills" sec:authorize="hasAnyAuthority('ADMIN', 'ATENDIMENTO', 'FINANCEIRO')">
					<li class="nav-item"><span class="nav-link active">Pagamentos</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/pagamentos/cadastrar}"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/pagamentos/listar}"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>
				
				<ul class="nav nav-pills" sec:authorize="hasAuthority('ADMIN')">
				  <li class="nav-item"><span class="nav-link active">Orçamentos</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/orcamentos/listar}"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>

			
				<ul class="nav nav-pills" sec:authorize="hasAuthority('CLIENTE')">
				  		<li class="nav-item"><span class="nav-link active">Chamados</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/chamados/cadastrar}"> <i class="oi oi-plus"></i> <span>Solicitar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/chamados/listarMeusChamados}"> <i class="oi oi-spreadsheet"></i> <span>Meus Chamados </span>
					</a></li>
				</ul>
				
				
				
			</nav>

</body>
</html>